<% if @post.comments %>
  <h3>All Comments</h3>
  <% @post.comments.each do |comment| %>
    <p><%= comment.body %></p>
    <p><%= comment.user.full_name %></p>
    <hr>
    <p><%= comment.user.signature %></p>
  <% end %>
<% end %>
